@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
        margin: auto;
    }

    .leftbanner {
        position: fixed;
        z-index: 3;
        left: 0;
        width: 20%;
        height: 100%;
        opacity: 60%;
    }

    .rightbanner {
        position: fixed;
        z-index: 3;
        right: 0;
        width: 20%;
        height: 100%;
        opacity: 60%;
    }

}

@media screen and (max-width: 1000px) {
    .leftbanner {
        display: none;
    }

    .rightbanner {
        display: none;
    }
}



.bubble-one {
    position: absolute;
    z-index: -1;
    background-color: #f60013;
    box-shadow: 0 2px 5px #272A4B;
    opacity: .5;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    transform: translate(40%, -10%);
}

.bubble-two {
    position: absolute;
    z-index: -1;
    background-color: #020ba9;
    box-shadow: 0 2px 5px #272A4B;
    opacity: .5;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    transform: translate(190%, -90%);
}

img.boardpic {
    align-content: center;
    width: 280px;
    border-radius: 2px;
    box-shadow: 0 2px 5px #272A4B;
}

.boardcard {
    position: relative;
    align-content: center;
}

img.basketball-icon {
    position: absolute;
    z-index: -1;
    height: 40%;
    transform: translate(-55%, 100%);
}

.boardcard h3 {
    transform: translateY(-45%);
    whitespace: nowrap;
    font-weight: 600;
    font-style: italic;
}


