.title {
    position: absolute;
    transform: translateY(-170%);
    width: 100%;
}

.title-text {
    margin: 0;
    width: 100%;
}

.title h1 {
    opacity: 0;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 15px #2c2e4b;
    margin-bottom: 0;
}

.title h3 {
    opacity: 0;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    text-transform: lowercase;
    font-style: italic;
    text-shadow: 0 0 15px #2c2e4b;
}

.banner {
    opacity: 0;
    position: absolute;
    height: 100%;
    max-height: 80px;
    width: 100%;
    background-color: rgba(219, 51, 66, 0.9);
}

img.eagle_head {
    position: absolute;
    width: 50%;
    right: 0px;
}

img.full_logo {
    background-color: #272A4B;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 70vh;
    margin-bottom: 15px;
}

.title_screen {
    background-color: #2c2e4b;
    width: 100%;
}

@keyframes slidedown {
    0% {
        margin-top: -10px;
        opacity: 0;
    }
    50% {
        margin-top: -10px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}


@keyframes slidein {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

body.loaded .banner {
    opacity: 1;
    animation: slidein .5s ease-in;
}

body.loaded .title h1 {
    opacity: 1;
    animation: slidedown 1s ease;
}

body.loaded .title h3 {
    opacity: 1;
    animation: slidedown 1.2s ease;
}

.border_box {
    position: absolute;
    width: 100%;
    background-color: #DB3342;
    opacity: .5;
}


.hidden {
    opacity: 1;
    transition: all 1s;
}

.shown {
    opacity: 1;
}

.collage-banner {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(137, 152, 206, 0.3);
}

.card-banner {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(-5%);
}

img.photo-collage {
    width: 100%;
    transform: translateY(-18%);
}

.cardgrid {
    /*border:15px solid #5491d7;*/
    border-left: none;
    border-right: none;
    padding:1em 0em 1em 0em;
}

#fancyRow {
    width: 100%;
}


img.arrow-photo {
    width: 100%;
    opacity: 90%;
}

.mainCard {
    font-family: 'Gothic A1', sans-serif;
    color: white;
    border-radius: 10px;
    padding: 5px 8px 2px 8px;
    animation: slidedown;
    transition: scale 200ms ease;
}
.red {
    background-color: #4c66a9;
    box-shadow: 8px 8px 0px #3d4c88;
}
.cyan{
    background-color: #4c66a9;
    box-shadow: 8px 8px 0px #3d4c88;
}
.blue{
    background-color: #4c66a9;
    box-shadow: 8px 8px 0px #3d4c88;
}
.blue h3 {

}

@media (min-width: 1000px) {
    .mainCard {
      height: 15em;
    }
  }

#secondCol {
    margin-left: 3%;
}

.mainCard:hover {
    scale: 1.02;
}

.mainCard:active {
    scale: .98;
}

.mainCard h3 {
    position: relative;
    z-index: 2;
    margin-bottom: 2px;
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.mainCard p {
    position: relative;
    z-index: 2;
    font-size: 1.3em;
}

.mainCard box-icon {
    opacity: .3;
    height: 90px;
    width: 90px;
    position: absolute;
    transform: translate(-145%, -10%);
    transition: transform 200ms ease;
}

.fc-scrollgrid {
    font-size: 1.3em;
}

.gallformat{
    position: absolute;
}

ul.eventsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.event {
    display: flex;
    margin: 1em;
    background: #b9cef9;
}

p.date {
    font-size: 1.5em;
    padding: 2em;
    margin: 0;
    font-weight: 600;
    color: white;
    background: #2c2e4b;
}

@media (min-width: 980px) {
    p.date {
        flex-basis: 20%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 980px){
    p.date {
        flex-basis: 29%;
    }
}

div.info {
    text-align: left;
    padding: 2em;
    width: auto;
    margin: auto 0;
}
div.info h3 {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
}

div.info p {
    font-size: 1.5em;
    margin: 0;
}

h2.eventsList {
    font-size: 2em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #2c2e4b;
    text-decoration-thickness: 4px;
}