.registration-form {
    width: 100%;
    height: 60vh;
    margin: 10px auto 20px auto;
}

#cheer-transparent-img {
    width: 80%;
    margin-top: 0;
    margin-bottom: 5vh;
}

#basketball-transparent-img {
    width: 40%;
    margin-top: 0;
    margin-bottom: 5vh;
}