/* Position and sizing of burger button

@media (max-width: 768px) {
  #webnav {
      display: none;
  }
  #mobilemenu {
      position: fixed;
      top: 0;
      left: 0;
      margin: 1em;
      z-index: 100;
  }
}

@media (min-width: 769px) {
  #mobilemenu {
      display: none;
  }
} */